<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<h1>Dataspace Contacts List</h1>
    <form action="/contact/edit/" method="get">
        <input type="submit" value="New Contact">
    </form>
<body>
    <hr>
    <form action="/contact/list/" method="get">
        <table>
            <th>
                <tr>
                    {% for hdr in col_meta %}
                        <td><input type="text" name="filter"></td>
                    {% endfor %}
                </tr>
                <input type="submit" name="btn_filter" value="filter">
                <tr>
                    {% for hdr in col_meta %}
                        <td><input type="submit" name="btn_sort" value="{{ hdr.screen_hdr }}"></td>
                    {% endfor %}
                </tr>
            </th>
            {% for this_contact in all_contacts %}
                <tr>
                    {% for this_col in this_contact %}
                        {% if forloop.counter == 1 %}
                            <td><a href="/contact/edit/?id={{ this_col }}" value = {{ this_col }}>{{ this_col }}</a></td>
                        {% elif forloop.counter == 5 %}
                            {% if this_col|length|get_digit:"-1" > 50 %}
                                <td>{{ this_col|slice:":50" }}...</td>
                            {% else %}
                                <td>{{ this_col }}</td>
                            {% endif %}
                        {% else %}
                            <td>{{ this_col }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
