<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONTACT MGT</title>
</head>
<body>
     <form action="" method="post">
         {% if form.person_static_id in form %}
            <h1>EDIT CONTACT: {{ form.person_static_id.value }}</h1>
         {%  else %}
             <h1>ADD CONTACT</h1>
         {%  endif %}
         <table>
             {{  form.as_table }}
         </table>

{#         {% if form.person_static_id not in form %}#}
{#             <h1>Add Contact</h1>#}
{#             <table>#}
{#                 {{ form.as_table }}#}
{#             </table>#}
{#         {% else %}#}
{#             <h1>Edit Contact: {{ form.person_static_id.value }}</h1>#}
{#             {% for field in form %}#}
{#                 <table>#}
{#                     {% if field != form.person_static_id %}#}
{#                         <p>{{ field.label_tag }} {{ field.value }}</p>#}
{#                     {% endif %}#}
{#                 </table>#}
{#             {% endfor %}#}
{#         {% endif %}#}
         {% csrf_token %}
         {% if form.person_static_id in form %}
            <input type="submit" value="Edit">
         {% else %}
            <input type="submit" value="Add">
         {% endif %}
    </form>

</body>
</html>
