<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONTACT MGT</title>
</head>
<body>
     <form action="" method="post">
         {% if form.person_static_id in form %}
            <h1>EDIT CONTACT: {{ form.person_static_id.value }}</h1>
         {%  else %}
             <h1>ADD CONTACT</h1>
         {%  endif %}
         <table>
             {{  form.as_table }}
         </table>

         {% csrf_token %}
         {% if form.person_static_id in form %}
            <input type="submit" value="Save Changes">
         {% else %}
            <input type="submit" value="Add">
         {% endif %}
    </form>
     <a href="/contact/list/">
         <button>Back To List</button>
     </a>

</body>
</html>
