<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONTACT MGT</title>
</head>
<body>
{#    GENERAL CONTACT INFO SECTION#}
     {{ form_contact.non_field_errors }}
     <form action="" method="post">
         {% if form_contact.person_static_id in form_contact %}
            <h1>EDIT CONTACT: {{ form_contact.person_static_id.value }}</h1>
         {%  else %}
             <h1>ADD CONTACT</h1>
         {%  endif %}
         <table>
             {{  form_contact.as_table }}
         </table>
{#     </form>#}

    <p></p>
{#     ELECTRONIC ADDRESSES SECTION#}
{#TODO:     replace this with an include of an e address form#}
     {{ formset_e_addr.non_form_errors.as_ul }}
{#     <form action="" method="post" name="E Contact">#}
    <table id="form_e_addr" class="form">
    {% for form in formset_e_addr.forms %}
      {% if forloop.first %}
      <thead><tr>
        {% for field in form.visible_fields %}
        <th>{{ field.label|capfirst }}</th>
        {% endfor %}
      </tr></thead>
      {% endif %}
      <tr class="{% cycle row1,row2 %}">
      {% for field in form.visible_fields %}
        <td>
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
        {% endif %}
          {{ field.errors.as_ul }}
          {{ field }}
        </td>
      {% endfor %}
{#         {% csrf_token %}#}
          {% if 'person_static_id' not in form.initial %}
                <td><button type="submit" value="Add E Contact">+</button></td>
          {% else %}
                <td><button type="submit" value="Delete E Contact">-</button></td>
          {% endif %}
      </tr>
    {% endfor %}
    </table>
     {% csrf_token %}
    </form>
     <p></p>

     {% if form_contact.person_static_id in form_contact %}
        <input type="submit" value="Save Changes" name="save">
        <input type="submit" value="Delete Contact" name="delete">
     {% else %}
        <input type="submit" value="Add">
     {% endif %}

     <hr>
     </form>
     <a href="/contact/list/">
         <button>Back To List</button>
     </a>
</body>
</html>
